certifi==2023.11.17
charset-normalizer==3.3.2
contourpy==1.2.0
cycler==0.12.1
docutils==0.20.1
flit==3.9.0
flit_core==3.9.0
fonttools==4.47.2
idna==3.6
kiwisolver==1.4.5
matplotlib==3.8.2
numpy==1.26.3
opencv-python==4.9.0.80
packaging==23.2
pillow==10.2.0
pyparsing==3.1.1
python-dateutil==2.8.2
requests==2.31.0
six==1.16.0
-e git+https://github.com/GabrielAttano/ai.git@3b2c514e8d36be353595dbf36cc3fe116b1b3dae#egg=src
tomli_w==1.0.0
urllib3==2.1.0
